.profile__flex {
  display: "flex";
  align-items: "center";
  justify-content: "space-between";
  width: 40%;
}

/* Modal Button */
.modalButton {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  padding: 12px 24px;
}


/* Modal */
.overlay {
  /* background-color: rgba(0, 0, 0, 0.5); */
  position: fixed;
  width: 100%;
  height: 100%;
}

.modalContainer {
  max-width: 600px;
  width: 100%;
  position: fixed;
  top: 20%;
  left: 40%;
  transform: translate(-50%, -50%);
  display: flex;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
}



.modalRight {
  width: 100%;
}

.closeBtn {
  position: fixed;
  top: 8px;
  right: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 3rem;
  padding: 1rem 2rem;
  background-color: #0D1135;

}

.content input {
  width: 100%;
}

.content button {
  margin: 20px 0;
}

#birthdaytime {
  padding: 10px 0;
}

.btnContainer {
  display: flex;
  padding: 1rem 1rem;
}

.btnContainer button {
  width: 100%;
  margin: .5rem;
  padding: 16px 0;
  /* border: none; */
  border: 1px solid #411b57;
  /* color: #ffffff; */
}

.btnPrimary {
  background-color: #411b57;
  color: white;
}

.btnOutline {
  /* background-color: #a76a99; */
  color: #411b57;
}

.bold {
  font-weight: 600;
}

.modal__btn {
  background-color: #337AB7 !important;
}

.black {
  color: black !important
}

.cross_btn {
  font-size: 20px;
  color: #0D1135;
  cursor: pointer;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */
  /* background-color: red; */
}

.converter__input {
  padding-left: 5px;
  font-size: 20px;
  height: 36px;
 
}

.middle,
.right {
  width: 120px;
}

.containerr {
  width: 50%;
  background-color: #0D1135;
  padding: 35px;
  border-radius: 10px;
  border-left: 5px solid #62F2C6;
}
.switch{
  margin: 10px 0;
}

@media screen and (max-width: 500px) {
  .modalContainer {
    flex-direction: column;
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    height: 100vh;
  }


  .heading {
    margin: 1rem;
  }
}

@media (max-width: 360px) {

  .disspear {
    display: none !important;
  }

  .my__flex {
    width: 100% !important;

  }

  .padding {
    margin: 0 25px;
  }

}